{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">{{ 'Editar Paciente' if edit else 'Cadastrar Paciente' }}</h2>
<form method="post" class="row g-3">
  <div class="col-md-6">
    <input class="form-control" name="first_name" placeholder="Nome" value="{{ patient.first_name if edit else '' }}">
  </div>
  <div class="col-md-6">
    <input class="form-control" name="last_name" placeholder="Sobrenome" value="{{ patient.last_name if edit else '' }}">
  </div>
  <div class="col-md-6">
    <input class="form-control" name="phone" placeholder="Telefone" value="{{ patient.phone if edit else '' }}">
  </div>
  <div class="col-md-6">
    <input class="form-control" name="address" placeholder="Endereço" value="{{ patient.address if edit else '' }}">
  </div>
  <div class="col-md-12">
    <input class="form-control" name="email" placeholder="Email" value="{{ patient.email if edit else '' }}">
  </div>
  <div class="col-md-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="has_insurance" id="has_insurance"
        {% if edit and patient.has_insurance %}checked{% endif %}>
      <label class="form-check-label" for="has_insurance">Possui convênio?</label>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary w-100">{{ 'Salvar' if edit else 'Cadastrar' }}</button>
  </div>
</form>
{% endblock %}
